{deps,[
        {lager,"2.0.0-spil1",{git,"git@github.com:spilgames/lager.git",
                {tag,"2.0.0-spil1"}}},
        {piqi_rpc,"",{git,"git://github.com/spilgames/piqi-rpc.git",
                {tag,"v0.6.0-spil3"}}}
    ]}.

{erl_opts,[debug_info]}.

{pre_hooks, [
        {compile, "make -C src"},
        {clean, "make -C src clean"}
    ]
}.
